* text=auto

*.cpp linguist-language=C++
*.h linguist-language=C++
*.rc linguist-language=C++

.gitignore linguist-documentation
.gitattributes linguist-documentation
README.md linguist-documentation
